// Bit&Black Image Blur.
//
// @author Tobias Köngeter
// @copyright Copyright © Bit&Black
// @link https://www.bitandblack.com
// @license MIT

$backgroundBlurClassName: "background-blur" !default;
$backgroundBlurSelector: ".#{$backgroundBlurClassName}" !default;
$defaultColor: 200, 200, 200 !default;
$defaultColorCenterOpacity: .6 !default;