@charset "UTF-8";
/*!
 * Bit&Black Image Blur.
 *
 * @author Tobias Köngeter
 * @copyright Copyright © Bit&Black
 * @link https://www.bitandblack.com
 * @license MIT
 */
.background-blur {
  --default-color: 200, 200, 200;
  --color-center-opacity-default: 0.6;
  --color1: var(--color-top-left, var(--default-color));
  --color2: var(--color-top-right, var(--default-color));
  --color3: var(--color-bottom-left, var(--default-color));
  --color4: var(--color-bottom-right, var(--default-color));
  --color5: var(--color-center, var(--default-color));
  --color-center-opacity: var(--color-center-opacity, var(--color-center-opacity-default));
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, rgb(var(--color1)), rgb(var(--color2)));
}
.background-blur::before, .background-blur::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.background-blur::before {
  background: linear-gradient(90deg, rgb(var(--color3)), rgb(var(--color4)));
  mask-image: linear-gradient(to bottom, transparent, black);
}
.background-blur::after {
  background: rgb(var(--color5));
  mask-image: radial-gradient(black, transparent);
  opacity: var(--color-center-opacity-default);
}
.background-blur img {
  position: relative;
  z-index: 1;
}

/*# sourceMappingURL=background-blur.css.map */
